@model IEnumerable<DebReg.Models.TournamentUserRole>

@{
    ViewBag.Title = "Tournament";
}

<h2>Select Tournament to Manage</h2>
<hr />
@using (@Html.BeginForm()) {
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tournament.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament.HostingOrganization)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tournament.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tournament.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tournament.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tournament.HostingOrganization.Name)
                </td>
                <td>
                    <button type="submit" value="@item.TournamentId" name="id">Select</button>
                </td>
            </tr>
        }
    </table>
}
